@import "tailwindcss";

:root {
  --background-light: #e5e5e5;
  --foreground-light: #0a0a0a;
  --background-dark: #0a0a0a;
  --foreground-dark: #e5e5e5;

  --primary-color: #3b82f6;
  --white: #e5e5e5;
  --black: #0a0a0a;

  --background: var(--background-light);
  --foreground: var(--foreground-light);

  /* Box Shadow Variables */
  --box-shadow: 0px 8px 50px
    color-mix(in srgb, var(--primary-color), transparent 50%);

  /* Font Size Variables */
  --font-size-h1: 56px;
  --font-size-h2: 40px;
  --font-size-h3: 42px;
  --font-size-h4: 36px;
  --font-size-h5: 32px;
  --font-size-h6: 24px;
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xss: 12px;
}

.light {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --box-shadow: var(--box-shadow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", "Geist Fallback";
}
.container {
  margin: 0 auto;
  padding: 0 12px;
}
.heading-h1 {
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-size: var(--font-size-h1);
}
.heading-h2 {
  font-weight: bold;
  line-height: 125%;
  letter-spacing: -0.02em;
  font-size: var(--font-size-h2);
}
.heading-h3 {
  font-weight: bold;
  line-height: 135%;
  letter-spacing: -0.01em;
  font-size: var(--font-size-h3);
}
.heading-h4 {
  font-weight: bold;
  line-height: 125%;
  letter-spacing: -0.02em;
  font-size: var(--font-size-h4);
}
.heading-h5 {
  font-weight: bold;
  line-height: 130%;
  letter-spacing: -0.01em;
  font-size: var(--font-size-h5);
}
.heading-h6 {
  font-weight: bold;
  line-height: 135%;
  letter-spacing: -0.01em;
  font-size: var(--font-size-h6);
}
p {
  font-size: var(--font-size-s);
  line-height: 150%;
}
.extra-small {
  line-height: 150%;
  font-size: var(--font-size-xss);
}
.small {
  line-height: 150%;
  font-size: var(--font-size-xs);
}
.base {
  line-height: 150%;
  font-size: var(--font-size-s);
}
.large {
  line-height: 150%;
  font-size: var(--font-size-m);
}
.extra-large {
  line-height: 150%;
  font-size: var(--font-size-l);
}
